body { 
    background-color: darkolivegreen;
}

.header{
    display: inline-grid;
    grid-row-gap: 2vw;
    background-color:darkseagreen; 
    width: 100vw;
    height: 15vh;
    
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 8vw;
    height: 15vh;
}

.derecha{
    text-align: center;
    color: antiquewhite;
    font-size: 6vw;
    font-family: monospace;
}
